/*
give the background a color
*/
* {
    background: #1f1f1f;
    color: white; 
  }
  
  /*Display all movies on the same row, no wrapping*/
  .img {
    display: flex;
    flex-wrap: nowrap; 
  }
  
  .searchbox, button{
    background-color: white;
    color: #1f1f1f;
  }
  
  .container { 
    position: relative;
    background-color: white; 
    color: black; 
  }
  .center, .container {
    background-color: rgb(137, 137, 137); 
    margin: 0;
    position: absolute;
    font-size: 25px;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .container-two { 
    position: relative;
    background-color: white; 
    color: black; 
  }
  .center-two, .container-two {
    background-color: rgb(137, 137, 137); 
    margin: 0;
    position: absolute;
    font-size: 20px;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  h1{
    text-align: center;
    
  }
  
  .sign-in-button, .create-account-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  
  
  
  
  
  
  
  